<ion-content class="ion-padding login-content">
  <ion-card class="login-card">
    <ion-card-content>
      <div class="login-header">
        <h1>Bienvenido</h1>
        <p>Por favor ingresa tus datos</p>
      </div>

      <form (ngSubmit)="Login()">
        <ion-item class="input-item">
          <ion-label position="floating">Usuario</ion-label>
          <ion-input [(ngModel)]="username"name="username" required></ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="password" [type]="showPassword ? 'text' : 'password'" name="password" required></ion-input>
          <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" slot="end" (click)="togglePasswordVisibility()">
          </ion-icon>
        </ion-item>

        <ion-item lines="none" class="remember-item">
          <ion-checkbox [(ngModel)]="rememberMe" justify="start" labelPlacement="end">Recordar credenciales</ion-checkbox>
        </ion-item>

        <div class="button-group">
          <ion-button expand="block" type="submit" color="dark">Iniciar Sesión</ion-button>
          <ion-button expand="block" (click)="OpenRegisterModal()" color="light">Registrarse</ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
